/* css font link start  */
@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* css font link end  */

/* global style start  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  overflow: scroll;
  width: 0;
}
/* global style end  */

/* header start  */
header {
  background-image: url(../images/header.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
/* header end  */

/* nav start  */
nav {
  width: 100%;
}
/* nav end  */

/* menu start  */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  align-items: center;
  height: 100%;
}
/* menu end  */

/* left & right menu start  */
.menu-1,
.menu-2 {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
/* left & right menu end  */

/* menu text style start  */
.menu a {
  color: #d9d9d9;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
/* menu text style end  */

/* banner section start  */
.banner {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/* banner section end  */

/* banner text start  */
.ban-text {
  display: flex;
  flex-direction: column;
  line-height: 4.5rem;
  justify-content: center;
  margin-top: 10rem;
  text-align: right;
}
/* banner text end  */

/* banner title start  */
.ban-text h1 {
  font-family: "Poppins", sans-serif;
  color: #d9d9d9;
  font-size: 10rem;
}
/* banner title end  */

/* banner paragraph start  */
.ban-text p {
  font-family: "Ephesis", cursive;
  font-size: 2rem;
  color: #d9d9d9;
}
/* banner paragraph end  */

/* banner information start  */
.ban-info p {
  color: #d9d9d9;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
/* banner information end  */
/* about main start  */
.about-main {
  background-color: #d9d9d9;
  padding: 0 10%;
  width: 100%;
  height: 100%;
}
/* about main end  */

/* text section start  */
.text-sec {
  width: 100%;
  height: 100%;
  padding: 8rem 0;
}
/* text section end  */

/* text paragraph  start  */
.text-sec h1 {
  font-family: "Poppins", sans-serif;
  color: #1d1d1d;
  font-size: 4rem;
}
#sign-text {
  font-family: "Ephesis", cursive;
  font-weight: 400;
}
/* text paragraph end  */

/* about section start  */
.about-sec {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10%;
}
/* about section end  */

/* about imgage  start  */
.about-img img {
  width: 10rem;
}
/* about image  end  */

/* about text  start  */
.about-text {
  width: 50%;
}
/* about text end  */

/* about title start  */
.about-text h3 {
  font-family: "Poppins", sans-serif;
  color: #1d1d1d;
  font-size: 18px;
  line-height: 5rem;
}
/* about title end  */

/* about paragraph start  */
.about-text p {
  font-family: "Poppins", sans-serif;
  color: #7d7d7d;
  font-size: 16px;
  font-weight: 300;
  max-width: 70%;
  line-height: 20px;
}
/* about paragraph end  */
